.settings-card h3 {
  display: none;
}

.settings-card form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 6px;
}

.grid-old {
  grid-column: 1;
  grid-row: 1;
}

.grid-new {
  grid-column: 2;
  grid-row: 1;
}

.grid-confirm {
  grid-column: 1;
  grid-row: 2;
}

.grid-btn {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;   
}

.form-group {
  margin: 0;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 6px;
}

.form-control {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #4f46e5;
}

.error {
  color: #dc2626;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

.success {
  color: #16a34a;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.save-btn {
  /* width: 100%; */
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.save-btn:hover {
  background: #4338ca;
}

@media (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .grid-old { grid-column: 1; grid-row: 1; }
  .grid-new { grid-column: 1; grid-row: 2; }
  .grid-confirm { grid-column: 1; grid-row: 3; }
  .grid-btn { grid-column: 1; grid-row: 4; }
}