<!-- <div class="list-section">
  <div class="list-header">
        <h3 class="list-title">COURSES</h3>

    @if (!showAddForm()) {
      <p-button
        label="Add Course"
        icon="pi pi-plus"
        [raised]="true"
        (onClick)="toggleAddForm()">
      </p-button>
    } @else {
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        severity="danger"
        (onClick)="toggleAddForm()">
      </p-button>
    }
  </div>

  @if (showAddForm()) {
    <app-add-course
      (courseAdded)="onCourseAdded()">
    </app-add-course>
  }


  <p-table
    [value]="courses()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} courses"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Course Code</th>
        <th>Credit Hours</th>
        <th>Status</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.title }}</td>
        <td>{{ c.courseCode }}</td>
        <td>{{ c.creditHours }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.departmentName }}</td>
        <td>
          <p-button
            label="Delete"
            icon="pi pi-trash"
            [raised]="true"
            severity="danger"
            (onClick)="deleteCourse(c.id)">
          </p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="empty-row">No courses found.</td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-confirmdialog></p-confirmdialog>
<p-toast position="top-right"></p-toast> -->








<div class="list-section">
  <div class="list-header">
    <h3 class="list-title">COURSES</h3>

    @if (!showAddForm()) {
      <p-button
        label="Add Course"
        icon="pi pi-plus"
        [raised]="true"
        (onClick)="toggleAddForm()">
      </p-button>
    } @else {
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        severity="danger"
        (onClick)="toggleAddForm()">
      </p-button>
    }
  </div>

  @if (showAddForm()) {
    <app-add-course
      (courseAdded)="onCourseAdded()">
    </app-add-course>
  }

  <p-table
    [value]="courses()"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [loading]="loading()"
    [totalRecords]="totalRecords()"
    [first]="first()"
    [paginator]="true"
    [rows]="rows()"
    [rowsPerPageOptions]="[10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} courses"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="header">
      <tr>
        <!-- <th>ID</th> -->
          <th>S.No</th>
        <th>Title</th>
        <th>Course Code</th>
        <th>Credit Hours</th>
        <th>Status</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-c let-i="rowIndex">
      <tr>
        <!-- <td>{{ c.id }}</td> -->
         <td>{{  i + 1 }}</td>
        <td>{{ c.title }}</td>
        <td>{{ c.courseCode }}</td>
        <td>{{ c.creditHours }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.departmentName }}</td>
        <td>
          <p-button
            label="Delete"
            icon="pi pi-trash"
            [raised]="true"
            severity="danger"
            (onClick)="deleteCourse(c.id)">
          </p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="empty-row">No courses found.</td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-confirmdialog></p-confirmdialog>
<p-toast position="top-right"></p-toast>