<div class="fee-detail-section">


  <div class="fee-detail-header">

    <p-button
      label="Back to Fee Records"
      icon="pi pi-arrow-left"
      severity="info"
      size="small"
      (onClick)="goBack()"
      styleClass="back-button"
    />

  </div>



  @if (student()) {

    <div class="student-info-card">
@if (student()?.profilePicture) {

      <img
        [src]="'http://localhost:8080/uploads/profile-pictures/' + student()!.profilePicture"
        alt="Student Profile"
        class="student-avatar"
      />

    } @else {

      <p-avatar
        [label]="student()!.username.charAt(0).toUpperCase()"
        shape="circle"
        size="large"
        styleClass="student-avatar"
      />

    }


      <div class="student-info-text">

        <h3>
          {{ student()!.username }}
        </h3>

        <p>
          {{ student()!.email }}
         
          &nbsp;•&nbsp;
          {{ student()!.department }}
        </p>

      </div>

    </div>

  }


  <!-- ==============================
       FEE SUMMARY CARDS
       ============================== -->

  @if (summary()) {

    <div class="fee-summary-cards">

      <!-- Total Records -->

      <p-card styleClass="summary-card">

        <span class="summary-label">
          Total Records
        </span>

        <span class="summary-value">
          {{ fees().length }}
        </span>

      </p-card>


      <!-- Total Fee -->

      <p-card styleClass="summary-card">

        <span class="summary-label">
          Total Fee
        </span>

        <span class="summary-value">
          {{ summary()!.totalOverall }}
        </span>

      </p-card>


      <!-- Total Paid -->

      <p-card styleClass="summary-card">

        <span class="summary-label">
          Total Paid
        </span>

        <span class="summary-value paid">
          {{ summary()!.totalPaid }}
        </span>

      </p-card>


      <!-- Total Due -->

      <p-card styleClass="summary-card">

        <span class="summary-label">
          Total Due
        </span>

        <span class="summary-value due">
          {{ summary()!.totalDue }}
        </span>

      </p-card>

    </div>

  }


  <!-- ==============================
       FEE TABLE
       ============================== -->

  <p-table
    [value]="fees()"
    responsiveLayout="scroll"
    styleClass="fee-detail-table"
  >

    <!-- TABLE HEADER -->

    <ng-template pTemplate="header">

      <tr>

        <th>
          Semester
        </th>

        <th>
          Total Fee
        </th>

        <th>
          Paid Fee
        </th>

        <th>
          Due Amount
        </th>

        <th>
          Status
        </th>

      </tr>

    </ng-template>


    <!-- TABLE BODY -->

    <ng-template
      pTemplate="body"
      let-fee
    >

      <tr>

        <td>
          {{ fee.semester }}
        </td>

        <td>
          {{ fee.totalFee }}
        </td>

        <td>
          {{ fee.paidFee }}
        </td>

        <td>
          {{ fee.dueAmount }}
        </td>

        <td>

          <p-tag
            [value]="fee.status"
            [severity]="getStatusSeverity(fee.status)"
            styleClass="fee-status-tag"
          />

        </td>

      </tr>

    </ng-template>


    <!-- EMPTY TABLE -->

    <ng-template pTemplate="emptymessage">

      <tr>

        <td
          colspan="5"
          class="empty-row"
        >

          <div class="empty-content">

            <i class="pi pi-wallet"></i>

            <span>
              No fee records for this student.
            </span>

          </div>

        </td>

      </tr>

    </ng-template>

  </p-table>

</div>