<!-- <div class="search-card"> 
 
  
  <div class="search-flex-container"> 
    <input type="number" [(ngModel)]="searchId" placeholder="Enter ID" class="search-input" /> 
    <button (click)="getStudentById()" class="search-btn">Search ID</button> 
  </div> 

  @if (searched) { 
    <div class="profile-result"> 
      <p><strong>Database ID:</strong> {{ searched.studentID }}</p> 
      <p><strong>First Name:</strong> {{ searched.fname }}</p> 
      <p><strong>Email Identity:</strong> {{ searched.email }}</p> 
      <button (click)="searched = null" class="clear-btn">Close Card</button> 
    </div> 
  } 
</div> -->
