<div class="dept-manager">

  <!-- Toast -->
  <p-toast></p-toast>

  
  <p-confirmDialog></p-confirmDialog>


  <!-- ==============================
       HEADER
       ============================== -->

  <div class="dept-header">

    <h3>Manage Departments</h3>

    <p-button
      label="Add Department"
      icon="pi pi-plus"
      [raised]="true"
      (onClick)="openAddModal()">
    </p-button>

  </div>


  <!-- ==============================
       SEARCH
       ============================== -->

  <p-inputGroup>

    <input
      type="text"
      pInputText
      placeholder="Search department..."
      [value]="searchTerm()"
      (input)="searchTerm.set($any($event.target).value)"
    />

    <button
      type="button"
      pButton
      icon="pi pi-search">
    </button>

  </p-inputGroup>


  <!-- ==============================
       DEPARTMENT LIST
       ============================== -->

  <ul class="dept-list">

    @for (dept of filteredDepartments(); track dept.id) {

      <li>

        <!-- Department Name -->
        <span class="department-name">
          {{ dept.name }}
        </span>


        <!-- Actions -->
        <div class="department-actions">


          <p-button
            icon="pi pi-pencil"
            severity="info"          
             [raised]="true"
            (onClick)="openEditModal(dept)">
          </p-button>



          <p-button
    icon="pi pi-trash"
    [raised]="true"
    severity="danger"
    (onClick)="deleteDepartment(dept.id)">
  </p-button>

        </div>

      </li>

    } @empty {

      <li class="empty-text">
        No departments found.
      </li>

    }

  </ul>


  <!-- ==============================
       ADD / EDIT MODAL
       ============================== -->

  @if (showAddModal()) {

    <div
      class="modal-overlay"
      (click)="closeAddModal()"
    >

      <div
        class="modal-box"
        (click)="$event.stopPropagation()"
      >

        <!-- Modal Heading -->

        <h4>

          @if (editingDepartmentId() !== null) {

            Edit Department

          } @else {

            Add New Department

          }

        </h4>


        <!-- ==============================
             FORM
             ============================== -->

        <form [formGroup]="departmentForm">


          <!-- Department Name -->

          <p-floatLabel>

            <input
              id="departmentName"
              type="text"
              pInputText
              formControlName="name"
              variant="filled"
            />

            <label for="departmentName">
              Department Name
            </label>

          </p-floatLabel>


          <!-- Required Error -->

          @if (
            departmentForm.get('name')?.touched &&
            departmentForm.get('name')?.hasError('required')
          ) {

            <small class="error">
              Department name is required.
            </small>

          }


          <!-- Backend Error -->

          @if (errorMessage()) {

            <small class="error">
              {{ errorMessage() }}
            </small>

          }


          <!-- ==============================
               BUTTONS
               ============================== -->

          <div class="modal-actions">

            <!-- UPDATE / SAVE -->

            @if (editingDepartmentId() !== null) {

              <p-button
                label="Update"
                icon="pi pi-check"
                severity="success"
                [raised]="true"
                (onClick)="save()">
              </p-button>

            } @else {

              <p-button
                label="Save"
                icon="pi pi-check"
                [raised]="true"
                (onClick)="save()">
              </p-button>

            }


            <!-- CANCEL -->

            <p-button
              label="Cancel"
              icon="pi pi-times"
              severity="secondary"
              [raised]="true"
              (onClick)="closeAddModal()">
            </p-button>

          </div>

        </form>

      </div>

    </div>

  }

</div>