<div class="list-section">
  <div class="list-header">
    <h3 class="list-title">STUDENTS</h3>
    
    <button (click)="openAddForm()" class="add-btn">Add Student</button>
  </div>


  <div class="search-container">

    <input
        type="number"
        class="search-input"
        placeholder="Enter Student ID"
        [(ngModel)]="searchId">

    <button
        class="search-btn"
        (click)="searchStudent()">
        Search
    </button>

    <button
        class="show-btn"
        (click)="getStudents()">
        Show All
    </button>

</div>



  
  <table class="data-table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
       @if (students().length > 0) {
  @for (s of students(); track s.studentID) {
    <tr>
      <td>{{ s.studentID }}</td>
      <td>{{ s.fname }}</td>
      <td>{{ s.email }}</td>
      <td>
        <div class="button-group">
          <button (click)="openEditForm(s)" class="edit-btn">Edit</button>
          <button (click)="deleteStudent(s.studentID)" class="delete-btn">Delete</button>
        </div>
      </td>
    </tr>
  }
} @else {
  <tr>
    <td colspan="4" class="empty-row">No records found.</td>
  </tr>
}
    </tbody>


   
  </table>
</div>

@if(showAddForm) {
  <app-add
    [student]="selectedStudent"
    [isEditMode]="isEditMode"
    (close)="closeAddForm()"
    (studentAdded)="getStudents()"
    (addStudent)="createStudents($event)">
  </app-add>
}